.next
node_modules/*
!node_modules/.eb-skip-npm-install
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.tsbuildinfo
.env*
!.env.example
public/assets/landing/
mmmma-eb-deploy.zip
opengraph-image.old.tsx
docs/aws-elastic-beanstalk-migration.local.md
node_modules
Buildfile
